.secondScreen
    &-slogan
        font-size: 18px
        color: rgba($secondary, 0.7 )
        text-align: center
        margin-bottom: 70px
        +bold
    &__brands
        display: flex
        justify-content: space-between
        margin-bottom: 230px
    &__about
        display: flex
        justify-content: center
        &-img
            margin-right: 250px
    &__description
        flex-basis: 40%;
    &__title
        font-size: 60px
        color: $primary
        +bold
    &__text
        font-family: "Open Sans"
        font-size: 16px
        font-weight: 400
        color: rgba($secondary, 0.7 )
        line-height: 20px
        margin: 60px 0
    &__about-button:hover
        
        

